@media(max-width:1166px) {
    .navbar {
        width: 102%;
        justify-content: space-between;
    }

    .navbar .left {
        font-size: 1.5rem;
    }
 
    .navbar .right {
        font-size: 1.2rem;
    }

    .leftsection,
    .Pink,
    .content {
        font-size: 2.5rem;
    }

    .rightsection {
        width: 25%;
    }

    .leftsecondsection {
        width: 35%;
    }

    .rightsecondsection {
        width: 50%;
        font-size: 1.3rem;
    }

    .btn {
        margin-left: 450px;
    }

    .skillhead {
        font-size: 2.5rem;
    }

    .ed {
        padding: 15px;
        margin-block: 15px;
        width: 20%;
        background-size: cover;
    }

    .card {
        background-size: cover;
        height: 95%;
        width: 95%;
    }

    .cntct-txt {
        margin-top: 0px;
    }

    .cntct-txt h1 {
        margin-top: 0px;
        font-size: 1.2rem;

    }

    .middcontact {
        font-size: 1.2rem;
        margin-top: 25px;
    }

    .rghtcontact {
        margin-top: 5px;
    }

    .rghtcontact h2,
    h3,
    h5 {
        font-size: 0.8rem;
    }
    .right
    {
        padding-right: 50px;
    }
        .rightsecondsection {
        width: 50%;
        font-size: 1.6rem;
    }
    .skill-container
    {
        margin-left: 225px;
    }
    .footer_wrapper
    {
        width: 100%;
    }
}

@media(max-width:950px){
    .navbar{
        width: 965px;
    }
    .rightsecondsection
    {
        width: 50%;
        font-size: 1.32rem;
    }
    .btn{
        margin-left: 350px;
    }
    .skill-container
    {
        margin-left: 150px;
    }
    .footer_wrapper
    {
        width: 100%;
    }
}

@media(max-width:890px) {
    .navbar {
        width: 100%;
        justify-content: space-between;
    }

    .navbar .left {
        font-size: 1.2rem;
    }

    .navbar .right {
        font-size: 1rem;
    }


    .leftsection,
    .Pink,
    .content {
        font-size: 1.8rem;
    }
    .rightsecondsection{
        font-size: 1rem;
    }

    .btn {
        margin-left: 350px;
    }

    .ed {
        padding: 20px;
        margin-block: 20px;
        width: 500px;
        background-size: cover;
    }

    .thirdsection {
        display: grid;
        width: 100%;
        margin: 100px 350px 0px;
        align-items: center;
        cursor: pointer;
    }
    .skill-container
    {
        margin-left: 120px;
    }
}


@media(max-width:800px) {
    .navbar
    {
      width: 104%;
      max-block-size: 100%;
      margin-right: 0%;
    }
    .navbar .left {
        font-size: 0.9rem;
    }
 
    .navbar .right {
        font-size:0.8rem;
        justify-content: space-around;
        padding-left: 30px;
    }
    .rightsecondsection{
        font-size: 1rem;
    }
    .leftsection,
    .Pink,
    .content {
        font-size: 1.3rem;
    }
    .footer_wrapper
    {
        width: 101%;
    }
    

}
@media(max-width:758px) {
.navbar{
    width: 107%;
}
.right
{
    font-size: 0.5rem;
    gap: 2px;
}
.leftsection
{
    width: 40%;
}
.rightsecondsection
{
    width: 55%;
    font-size: 0.9rem;
}
.btn{
    margin-left: 300px;
}
.footer_wrapper
{
    width: 102%;
}


}
@media(max-width:668px) {
.navbar{
    width: 103%;
}
    .navbar .right
{
    font-size: 0.5rem;
}
.navbar .right ul {
    margin-left: 0px;
}
.rightsecondsection
{
    width: 50%;
 font-size: 0.7rem;
}
.btn
{
    width: auto;
    margin-left: 250px;
    font-size: 0.8rem;
}
.thirdsection
{
    margin-left: 30px;
    padding-top: 10px;
}
.thirdsection .ed
{
    width: 250px;

}

.skillhead{
    font-size: 1.9rem;
}
.footer_wrapper
{
    width: 104%;
}

}